In [104]:
runtime_meta()

Updated 2018-02-27 14:50:36.395425
By leonyin
Using Python 3.6.1
On Darwin-17.4.0-x86_64-i386-64bit

# USNPL
A scraper for the <a hef="http://www.usnpl.com/canews.php">usnpl</a> site for newspapers, magazines, and college papers.

### The output has
Geography - The state of the media source.<br>
Name - The name of the media source.<br>
Facebook - The URL for the Facebook account.<br>
Twitter_Name - The Tweet screen name for the Twitter account.<br>
Twitter_ID - The Tweet ID for the Twitter Account.<br>
Website - The URL for the media source<br>
Medium - What format is the media source?

In [2]:
import os
import time
import requests

import tweepy
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from bs4 import BeautifulSoup

In [3]:
states = '''ak	  al	  ar	  az	  ca	  co	  ct	  dc	  de	  fl	  ga	  hi	  ia	  id	  il	  in	  ks   ky	  la	  ma	  md	  me	  mi	  mn	  mo	  ms	  mt	  nc	  nd	  ne	  nh	  nj	  nm	  nv	  ny	  oh	  ok	  or	  pa	  ri	  sc	  sd	  tn	  tx	  ut	  va	  vt	  wa	  wi	  wv	  wy	'''
states = [s.strip() for s in states.split('  ')]

In [93]:
def parse_row(soup):
    city = soup.find('b').text
    name = soup.find('a').text
    web = soup.find('a').get('href')
    
    fb = soup.find('a', text='F')
    if fb:
        fb= fb.get('href')
    tw = soup.find('a', text='T')
    if tw:
        tw=tw.get('href').replace('http://www.twitter.com/', '')
    
    return {
        'Facebook' : fb,
        'Twitter_Name' : tw,
        'Name' : name,
        'Website' : web
    }

In [101]:
sites = []
for state in states:
    url = 'http://www.usnpl.com/{}news.php'.format(state)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'lxml')
    
    data_possibilities = soup.find_all('div' ,{"id" : 'data_box'})
    for i, raw_table in enumerate(data_possibilities[1:]):
        j = 1 if i == 0 else 0
        medium = raw_table.find('h3').text
        if medium == 'Newspapers':
            data_table = str(raw_table).split('<br/><br/>\n</div>\n')[j]
            entries_to_parse = data_table.rstrip('</div>').split('\n<br/>\n')
        elif medium in ['Magazines', 'College Newspapers']:
            data_table = str(raw_table).split('<title>Untitled Document</title>')[1]
            entries_to_parse = data_table.rstrip('</div>').split('\n<br/>\n')
        else:
            break
            
        for row in tqdm(entries_to_parse):
            row = row.strip('\r').strip('\n')
            if row:
                entry = parse_row(BeautifulSoup(row, 'lxml'))
                entry['Geography'] = state.upper()
                entry['Medium'] = medium
                sites.append(entry)
        time.sleep(1)

In [97]:
df = pd.DataFrame(sites)

In [105]:
df.head()

,Facebook,Geography,Medium,Name,Twitter_Name,Website
0,https://www.facebook.com/akdispatch,AK,Newspapers,Alaska Dispatch News,adndotcom,http://www.adn.com/
1,https://www.facebook.com/AlaskaJournal,AK,Newspapers,Alaska Journal of Commerce,alaskajournal,http://www.alaskajournal.com/
2,https://www.facebook.com/anchoragepress,AK,Newspapers,Anchorage Press,anchoragepress,http://www.anchoragepress.com/
3,https://www.facebook.com/PetroleumNews,AK,Newspapers,Petroleum News,None,http://www.petroleumnews.com/
4,https://www.facebook.com/deltadiscovery,AK,Newspapers,Delta Discovery,None,http://www.deltadiscovery.com/

In [95]:
df.to_csv('data/usnpl_newspapers.csv', index=False)

### Getting Twitter User IDs

In [61]:
# fill these in!
consumer_key = ''
consumer_secret = ''
access_key = ''
access_secret = ''

In [63]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth,
                 wait_on_rate_limit=True,
                 wait_on_rate_limit_notify=True)

In [59]:
twitter_names = df[~df['Twitter_Name'].isnull()]['Twitter_Name'].unique()

In [64]:
user = api.get_user(twitter_names[0])

In [107]:
user._json

{'contributors_enabled': False,
 'created_at': 'Thu Dec 20 22:51:16 +0000 2012',
 'default_profile': False,
 'default_profile_image': False,
 'description': 'We manage and conserve more than 800 species of wildlife statewide. | Conserving Wildlife~Serving People | Follows and retweets do not imply endorsement.',
 'entities': {'description': {'urls': []},
  'url': {'urls': [{'display_url': 'wgfd.wyo.gov',
     'expanded_url': 'http://wgfd.wyo.gov',
     'indices': [0, 22],
     'url': 'http://t.co/ru1Gs8tBEq'}]}},
 'favourites_count': 298,
 'follow_request_sent': False,
 'followers_count': 3788,
 'following': False,
 'friends_count': 676,
 'geo_enabled': False,
 'has_extended_profile': False,
 'id': 1025185082,
 'id_str': '1025185082',
 'is_translation_enabled': False,
 'is_translator': False,
 'lang': 'en',
 'listed_count': 65,
 'location': 'Wyoming - USA',
 'name': 'Wyoming Game & Fish',
 'notifications': False,
 'profile_background_color': '5D7388',
 'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/540188072147570689/af7ramu5.jpeg',
 'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/540188072147570689/af7ramu5.jpeg',
 'profile_background_tile': False,
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1025185082/1466458607',
 'profile_image_url': 'http://pbs.twimg.com/profile_images/826446705792913410/NJ9ULI2W_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/826446705792913410/NJ9ULI2W_normal.jpg',
 'profile_link_color': '5D7388',
 'profile_location': None,
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'protected': False,
 'screen_name': 'WGFD',
 'status': {'contributors': None,
  'coordinates': None,
  'created_at': 'Mon Feb 19 01:00:01 +0000 2018',
  'entities': {'hashtags': [],
   'symbols': [],
   'urls': [{'display_url': 'twitter.com/i/web/status/9…',
     'expanded_url': 'https://twitter.com/i/web/status/965390481667469312',
     'indices': [117, 140],
     'url': 'https://t.co/GMm5BSVAxw'}],
   'user_mentions': []},
  'favorite_count': 8,
  'favorited': False,
  'geo': None,
  'id': 965390481667469312,
  'id_str': '965390481667469312',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'place': None,
  'possibly_sensitive': False,
  'retweet_count': 0,
  'retweeted': False,
  'source': '<a href="https://ads-api.twitter.com" rel="nofollow">Twitter Ads Composer</a>',
  'text': "Applying for a hunting license soon? Consider purchasing a few Super Tag Raffle tickets while you're at it. One tic… https://t.co/GMm5BSVAxw",
  'truncated': True},
 'statuses_count': 1794,
 'time_zone': 'Arizona',
 'translator_type': 'none',
 'url': 'http://t.co/ru1Gs8tBEq',
 'utc_offset': -25200,
 'verified': False}

In [68]:
from tweepy import TweepError

In [70]:
user_ids = []
for screen_name in tqdm(twitter_names):
    try:
        user = api.get_user(screen_name=screen_name)
        user_id = user.id
    except TweepError:
        user_id = None
        pass
    user_ids.append({
        'Twitter_ID' : user_id,
        'Twitter_Name' : screen_name
    })

Rate limit reached. Sleeping for: 85
Rate limit reached. Sleeping for: 500
Rate limit reached. Sleeping for: 487
Rate limit reached. Sleeping for: 539

In [72]:
df_users = pd.DataFrame(user_ids)

In [81]:
df_users['Twitter_ID'] = df_users['Twitter_ID'].astype(str).str.replace('.0','')

In [82]:
df_users.to_csv('data/twitter_uers.csv', index=False)

In [108]:
df_merge = df.merge(df_users, on='Twitter_Name', how='left')[['Name', 'Medium', 'Website', 'Facebook', 'Twitter_Name','Twitter_ID', 'Geography']]
df_merge.to_csv('data/usnpl_newspapers_twitter_ids.csv', index=False)

In [109]:
df_merge.head()

,Name,Medium,Website,Facebook,Twitter_Name,Twitter_ID,Geography
0,Alaska Dispatch News,Newspapers,http://www.adn.com/,https://www.facebook.com/akdispatch,adndotcom,158225,AK
1,Alaska Journal of Commerce,Newspapers,http://www.alaskajournal.com/,https://www.facebook.com/AlaskaJournal,alaskajournal,341639834,AK
2,Anchorage Press,Newspapers,http://www.anchoragepress.com/,https://www.facebook.com/anchoragepress,anchoragepress,17761344,AK
3,Petroleum News,Newspapers,http://www.petroleumnews.com/,https://www.facebook.com/PetroleumNews,None,NaN,AK
4,Delta Discovery,Newspapers,http://www.deltadiscovery.com/,https://www.facebook.com/deltadiscovery,None,NaN,AK